.DS_Store
.qmake*
*.o
Makefile
*.json
disseminate.app/*
moc_*.cpp
ui_*.h
qrc_*.cpp
*_automoc.cpp
*.depends

.ninja*
CMakeCache.txt
CMakeFIles
build.ninja
rules.ninja
libSwizzler*
cmake_install.cmake
externals
*_generated.h

Disseminate.cbp
CMakeLists.txt.user